<a href="https://colab.research.google.com/github/TRANDANGTIEN99/Python-and-Machine-Learning/blob/main/NumbericalAnalysis_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Type : integer, Float, String, Boolean

in python : don't need to specify the data type of a vatiable . pyphon automatically detects the data type based on the value assigned to it.

In [2]:
x = 1
print(x)

1

In [4]:
y = 3.14
print(y)

3.14

In [8]:
z = "hello world"
print(z)
y_str= "y ="
print("y=", y)
print(y_str, y)

hello world
y= 3.14
y = 3.14

In [9]:
w = True #False
w_false = False

print("w is" , w)
print("w_false is ", w_false)

w is True
w_false is  False

# Operators

Arithmetic Operators : + - * / % **

Comparison operations : == != > < >= <=

Logical operators : and , or, not.

In [11]:
a = 5
b = 2

In [14]:
c =  a + b
d = a * b
e = a % b
print(c,
      d,
      e)

7 10 1

In [19]:
f =  a == b
print("f", f)

g = a > b
print("g", g)

h = not g
print("h", h)

f False
g True
h False

# Python Indentation
Python uses whitespace (tabs or space) to define the structure of code blocks.

- Indentation should be consistent throunghout your code. Four spaces( but in CA=olab two spaces)
- indentatin should be used for all blocks of code, including lopps, functions, and conditional statements,

In [24]:
print("Start For Loop")

for i in range(5):
  print("Iteration", i)
  print("The square of ", i , "is", i**2)

print("Finished For Loop")

Start For Loop
Iteration 0
The square of  0 is 0
Iteration 1
The square of  1 is 1
Iteration 2
The square of  2 is 4
Iteration 3
The square of  3 is 9
Iteration 4
The square of  4 is 16
Finished For Loop

# Lists 배열

A list is a collection of values

Lists can contain values of different types, such as nubers, strings, and even other lists.

In [27]:
# create a list of integers

numbers = [1, 2, 3, 4, 5 ]

print("numbers=", numbers)

numbers= [1, 2, 3, 4, 5]

In [31]:
# create a list of Strings

fruits = ["apple", "banana", "cherry"]

print("fruits =", fruits)

fruits = ['apple', 'banana', 'cherry']

In [32]:
# create a list of mixed types

mixed = [1, "apple", True, 2.5]

print("mixed = ", mixed)

mixed =  [1, 'apple', True, 2.5]

In [34]:
#Accessing LIst Elements

print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [36]:
#Negative indexing


print(fruits[-1])
print(fruits[-2])
print(fruits[-3])

cherry
banana
apple

In [40]:
# Slicing Lists

integers = [0, 1, 2, 3, 4]
print(integers[1:3]) # list [start;end]

print(integers[0:3])# notice
print(integers[:3])
print(integers[0:3])
print(integers[-3:-1])

[1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[2, 3]